// color schema
$blanjaloka-color-schema: (
  'neutral-white': #FFFFFF,
  'neutral-black': #181A1B,
  'neutral-white-2': #F9F9F9,
  'neutral-gray-1': #F0F0F0,
  'neutral-gray-2': #D9D9D9,
  'neutral-gray-3': #AEAEAE,
  'neutral-gray-4': #686868,
  'neutral-gray-5': #3E4041,
  'semantic-error-1': #FFE8E9,
  'semantic-error-2': #FFD2D3,
  'semantic-error-3': #FF8E91,
  'semantic-error-4': #FF4348,
  'semantic-error-5': #AA1317,
  'semantic-warning-1': #FFF7EE,
  'semantic-warning-2': #FFE8CC,
  'semantic-warning-3': #FFC580,
  'semantic-warning-4': #FF9F2A,
  'semantic-warning-5': #D47500,
  'semantic-success-1': #E6F2E6,
  'semantic-success-2': #D9ECDA,
  'semantic-success-3': #A1CFA3,
  'semantic-success-4': #43A047,
  'semantic-success-5': #2D6B2F,
  'primary-blue-1': #F2F7FA,
  'primary-blue-2': #E4F0F6,
  'primary-blue-3': #D7E8F1,
  'primary-blue-4': #BDD8E8,
  'primary-blue-5': #7BB1D0,
  'primary-blue-6': #398AB9,
  'primary-blue-7': #2F739A,
  'primary-blue-8': #265C7B,
  'primary-blue-9': #1C455C,
);


// import bootstrap sass fucntion and variables
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$theme-colors: map-merge($blanjaloka-color-schema, $theme-colors);
$table-variants: map-merge($blanjaloka-color-schema, $table-variants);

// import bootstrap sass
@import "../../node_modules/bootstrap/scss/bootstrap";
// import google font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif!important;
}
